* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

header {
  background-image: url("/images/background.jpg");
  /*  / = 절대 경로 */
  height: 880px;
  background-size: 100% 100%;
}

nav {
  display: flex;
  justify-content: space-between;
  padding: 20px;
}

.logo {
  color: white;
  font-size: 35px;
  font-weight: 800;
}

.menu {
  display: flex;
}

.menu > div {
  margin-right: 30px;
  color: white;
  font-weight: 800;
}

.form__search {
  width: 430px;
  top: 10px;
  left: 50px;
  padding: 20px 30px;
  border-radius: 6px;
  background-color: white;
  position: relative;
  box-shadow: 0 4px 4px 0 rgb(214, 214, 214);
  /* 화사해지는 그림자 효과*/
}

table {
  width: 100%;
}

.input__search {
  height: 45px;
  width: 100%;
  color: rgb(100, 100, 100);
  font-size: 15px;
  border: 1px solid rgb(230, 230, 230);
}

.sub__title__search {
  font-size: 12px;
  font-weight: 600;
  padding: 10px 0px;
}

.title__search {
  font-size: 30px;
  font-weight: 800;
  padding: 10px 0px;
  color: rgb(75, 75, 75);
}

.button__search {
  background-color: #ff5a5f;
  color: white;
  width: 70px;
  height: 45px;
  font-size: 15px;
  font-weight: 700px;
  border-radius: 6px;
  border: 0;
  cursor: pointer;
}

.button__box {
  height: 100px;
  align-items: center;
  /* 세로 배치*/
  display: flex;
  justify-content: end;
}

main {
  display: flex;
  justify-content: center;
}

.container {
  width: 80%;
}

.card__img {
  height: 70px;
  object-fit: cover;
}

.card__box {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 10px;
}

/* 비율 정할 땐 grid*/

.card {
  display: flex;
  border: 1px solid rgb(210, 210, 210);
  border-radius: 6px;
  box-shadow: 0 0 3px 0 rgb(170, 170, 170);
}

.sec__title {
  font-size: 25px;
  font-weight: 800;
  color: rgb(68, 66, 66);
  margin: 20px 0px;
}

.sec__content {
  display: grid;
  align-items: center;
  font-weight: 600;
  padding-left: 10px;
}

.home__box {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 10px;
}

.home__img > img {
  width: 100%;
  object-fit: cover;
}

.info1 {
  margin-top: 5px;
  font-size: 13px;
  color: grey;
}

.info2 {
  font-size: 18px;
  font-weight: 600;
  color: rgb(60, 60, 60);
}

.star {
  font-size: 12px;
  color: rgb(30, 120, 120);
  font-weight: 800;
}

.count,
type {
  font-size: 12px;
}
